@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-color: #F7F2ED;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
    background-color: #E9D9CB;
    text-align: center;
    padding: 10px 20px;
}

.logo {
    width: 350px;
}

.navegador {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    border-radius: 25px;
}

.navegador:hover {
    font-size: 1.01rem;
    color: #6c757d;
    border-radius: 25px;
}

/* Footer */

footer {
    text-align: center;
    background-color: #E9D9CB;
    padding-bottom: 20px;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
}

.redesSociales {
    width: 30px;
    
}

.atribucion {
    font-size: x-small;
}

/* Index */

h1 {
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
}

.contenedorIndex {
    background-color: #E9D9CB;
    margin: 80px;
    margin-top: 0;
    padding: 20px;
    border-radius: 10px;
}

.tituloBloqueIndex {
    font-size: 2rem;
    color: #fafafa;
    margin: 20px 0 0 0;
    background-color: #6c757d;
}

.textoIndex {
    font-size: 1.1rem;
    margin: 30px 10px;
}

.imagenIndex {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid #563b24;
    margin: 30px 0;
}

/* Productos */

.tituloProductos {
    margin: 40px;
    margin-bottom: 10px;
}

.boxProductos {
    background-color: #E9D9CB;
    border: #6c757d 1px solid;
}

/* .botonCards {
    border: 1px solid #3b9e96;
} */

.botonCards:hover {
    border: 1px solid #3b9e96 ;
    background-color: #3b9e96;
}

/* .contenedorProductos {
    display: flex;
    width: 50%;
    margin: 20px 10px;
    border: 2px solid #563b24;
    border-radius: 5px;
    text-align: center;
} */

/* .imgProducto {
    background-color: #E9D9CB;
    width: 50%;
    height: auto;
    border-radius: 5px;
} */

/* .contenedorProductos p {
    background-color: #E9D9CB;
    color: #563b24;
    text-align: center;
    padding: 100px 12.5%;
    font-size: large;
    
} */

/* Iframes */

iframe {
    margin: 30px;
    border-radius: 20px;
}

/* Formulario */

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #563b24;
}

input [type="text"],
textarea {
    display: block;
    width: 500px;
    padding: 10px;
    border: 2px solid #E9D9CB;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btnFormulario {
    background-color: #E9D9CB;
    color: #563b24;
    border: 0.5px solid #563b24;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.listaContacto li {
    text-decoration: none;
    list-style: none;
    margin: 10px 80px;
}

/* Materiales */

.subtituloMateriales {
    margin: 70px 10px;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
}

.contenedorMateriales {
    width: 33%;
    height: 450px;
    padding: 25px 15px;
    background-color: #E9D9CB;
    margin: 10px;
    border-radius: 20px;
}

.materiales {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

h5 {
    font-size: 15px;
    margin: 5px 0;
}

/* Version Tablet */

@media (max-width: 1024px) {
    /* Index */
    .textoIndex {
        font-size: 0.8rem;
    }
}

/* Version Celular */

@media (max-width: 768px) {
    /* Index */
    .contenedorIndex{
        margin: 40px;
    }

    .textoIndex {
        font-size: 1.2rem;
    }
}