@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F2ED;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  background-color: #E9D9CB;
  text-align: center;
  padding: 10px 20px;
}

.logo {
  width: 200px;
  transition: all 0.5s;
}
.logo:hover {
  transform: scale(1.2, 1.2);
}

.navegador {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  font-size: 1rem;
  transition: all 0.4s;
}
.navegador:hover {
  transform: scale(1.04, 1.04);
  color: #6c757d;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #E9D9CB;
  padding-bottom: 20px;
}
footer ul li {
  list-style: none;
  display: inline-block;
  margin: 20px 20px;
}
footer ul li i {
  color: #000000;
  transition: all 0.6s;
}
footer ul li:hover {
  transform: scale(1.15, 1.15);
}

.atribucion {
  font-size: x-small;
  text-align: center;
}

/* INDEX */
.contenedorIndex {
  background-color: #E9D9CB;
  margin: 50px;
  margin-top: 0;
  padding: 20px;
  border-radius: 10px;
}

.tituloBloqueIndex {
  font-size: 2rem;
  color: #fafafa;
  margin: 20px 0 0 0;
  background-color: #6c757d;
}

.textoIndex {
  font-size: 1.1rem;
  margin: 30px 10px;
}

.imagenIndex {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 2px solid #563b24;
  margin: 30px 0;
}

/* PRODUCTOS */
.boxProductos {
  background-color: #E9D9CB;
  border: #6c757d 1px solid;
}

.botonCards {
  background-color: #6c757d;
  color: #fafafa;
  border: none;
  transition: all 0.4s;
}
.botonCards:hover {
  transform: scale(1.02, 1.02);
  background-color: #3b9e96;
  color: #fafafa;
  border: none;
}

/* TRABAJOS */
.tituloTrabajos {
  margin: 30px 70px;
  font-weight: bold;
}

.contenedorFlex {
  height: auto;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

.video {
  width: 45%;
}

iframe {
  border-radius: 20px;
}

/* CONTACTO */
form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin: 5px 0;
  color: #563b24;
}

textarea {
  width: 100%;
  border: 2px solid #6c757d;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

input {
  width: 50%;
  border: 2px solid #6c757d;
  border-radius: 5px;
  display: block;
}

.listaContacto li {
  text-decoration: none;
  list-style: none;
}

.botonFormulario {
  background-color: #6c757d;
  color: #fafafa;
  border: none;
  width: 35%;
  margin: 10px;
  margin-bottom: 20px;
  transition: all 0.4s;
}
.botonFormulario:hover {
  transform: scale(1.02, 1.02);
  background-color: #3b9e96;
  color: #fafafa;
  border: none;
}

/* MATERIALES */
.contenedorMateriales {
  margin: 80px;
}

.boxMateriales {
  background-color: #E9D9CB;
  border: 1px solid #6c757d;
  margin: 10px;
  transition: all 0.3s;
}
.boxMateriales:hover {
  transform: scale(1.02, 1.02);
  border: 1px solid #3b9e96;
}

/* MEDIA QUERIES */
/* Version Tablet */
@media (max-width: 1024px) {
  /* Index */
  .contenedorIndex {
    margin: 35px 20px;
  }
  .textoIndex {
    font-size: 0.8rem;
  }
  /* Trabajos */
  .tituloTrabajos {
    margin: 50px;
  }
  .contenedorFlex {
    margin: 0;
  }
  .video {
    width: 45%;
  }
  iframe {
    height: 250px;
  }
}
/* Version Celular */
@media (max-width: 768px) {
  /* Index */
  .tituloTrabajos {
    margin: 45px;
  }
  .contenedorIndex {
    margin: 40px 0;
  }
  .textoIndex {
    font-size: 1.2rem;
  }
  /* Materiales */
  .contenedorMateriales {
    margin: 20px;
  }
  /* Trabajos */
  .contenedorFlex {
    margin: 20px;
  }
  .video {
    width: 100%;
  }
}

/*# sourceMappingURL=estilo.css.map */
