/* CONTACTO */

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin: 5px 0;
    color: $colorSecundario;
}

textarea {
    @include formularios(100%, 2px solid $colorDetallesPrimario, 5px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

input {
    @include formularios(50%, 2px solid $colorDetallesPrimario, 5px);
    display: block;
}

.listaContacto li {
    text-decoration: none;
    list-style: none;
}

.botonFormulario {
    @include botones($colorDetallesPrimario, $colorBlanco, none);
    width: 35%;
    margin: 10px;
    margin-bottom: 20px;
    transition: all 0.4s;
    &:hover {
        transform: scale(1.02, 1.02);
        @include botones($colorDetallesSecundario, $colorBlanco, none);
    }
}
