/* CONTACTO */

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin: 5px 0;
    color: #563b24;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid $colorSecundario;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 50%;
    border: 2px solid $colorSecundario;
    border-radius: 5px;
}

.listaContacto li {
    text-decoration: none;
    list-style: none;
}

.botonFormulario {
    width: 35%;
    background-color: $colorSecundario;
    color: #fafafa;
    border: none;
    margin: 10px;
    margin-bottom: 20px;
    &:hover {
        border: none;
        background-color: $colorResaltador;
        color: #fafafa;
    }
}
