footer {
    text-align: center;
    background-color: #E9D9CB;
    padding-bottom: 20px;

    ul li {
        list-style: none;
        display: inline-block;
        margin: 20px 20px;
    }
}

.redesSociales {
    width: 30px;
}

.atribucion {
    font-size: x-small;
}