/* HEADER */

header {
    background-color: #E9D9CB;
    text-align: center;
    padding: 10px 20px;
}

.logo {
    width: 200px;
}

.navegador {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $colorIconos;
    font-size: 1rem;
    border-radius: 25px;

    &:hover {
        font-size: 1.01rem;
        color: $colorSecundario;
        border-radius: 25px;
    }
}