/* HEADER */

header {
    background-color: $colorPrimario;
    text-align: center;
    padding: 10px 20px;
}

.logo {
    width: 200px;
    transition: all 0.5s;

    &:hover {
        transform: scale(1.2, 1.2);
    }
}

.navegador {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $colorNegro;
    font-size: 1rem;
    transition: all 0.4s;

    &:hover {
        transform: scale(1.04, 1.04);
        color: $colorDetallesPrimario;
    }
}