/* MATERIALES */

.contenedorMateriales {
    margin: 80px;
}

.boxMateriales {
    background-color: #E9D9CB;
    border: 1px solid $colorSecundario;
    margin: 10px;

    &:hover {
        margin: 13px;
        border: 2px solid $colorResaltador;
    }
}