/* MEDIA QUERIES */

/* Version Tablet */

@media (max-width: 1024px) {

    /* Index */
    .contenedorIndex {
        margin: 35px 20px;
    }

    .textoIndex {
        font-size: 0.8rem;
    }

    /* Trabajos */
    .tituloTrabajos {
        margin: 50px;
    }

    .contenedorFlex {
        margin: 0;
    }

    .video {
        width: 45%;
    }

    iframe {
        height: 250px;
    }
}

/* Version Celular */

@media (max-width: 768px) {

    /* Index */
    .tituloTrabajos {
        margin: 45px;
    }

    .contenedorIndex {
        margin: 40px 0;
    }

    .textoIndex {
        font-size: 1.2rem;
    }

    /* Materiales */
    .contenedorMateriales {
        margin: 20px;
    }

    /* Trabajos */
    .contenedorFlex {
        margin: 20px;
    }

    .video {
        width: 100%;
    }


}