/* MEDIA QUERIES */

/* Version Tablet */

@media (max-width: 1024px) {

    /* Index */
    .contenedorIndex {
        margin: 35px 20px;
    }

    .textoIndex {
        font-size: 0.8rem;
    }

    /* Trabajos */
    iframe {
        height: 250px;
    }
}

/* Version Celular */

@media (max-width: 768px) {

    /* Index */
    .contenedorIndex {
        margin: 40px 0;
    }

    .textoIndex {
        font-size: 1.2rem;
    }

    /* Materiales */
    .contenedorMateriales {
        margin: 20px;
    }

    /* Trabajos */
    iframe {
        height: 350px;
    }
}