/* PRODUCTOS */

.tituloProductos {
    margin: 40px;
    margin-bottom: 10px;
}

.boxProductos {
    background-color: #E9D9CB;
    border: $colorSecundario 1px solid;
}

.botonCards {
    background-color: $colorSecundario;
    color: #fafafa;
    &:hover {
        border: 1px solid $colorResaltador;
        background-color: $colorResaltador;
    }
}