.tituloProductos {
    margin: 40px;
    margin-bottom: 10px;
}

.boxProductos {
    background-color: #E9D9CB;
    border: #6c757d 1px solid;
}

.botonCards:hover {
    border: 1px solid #3b9e96;
    background-color: #3b9e96;
}