/* PRODUCTOS */

.boxProductos {
    background-color: $colorPrimario;
    border: $colorDetallesPrimario 1px solid;
}

.botonCards {
    @include botones($colorDetallesPrimario, $colorBlanco, none);
    transition: all 0.4s;
    &:hover {
        transform: scale(1.02, 1.02);
        @include botones($colorDetallesSecundario, $colorBlanco, none);
    }
}