/* TRABAJOS */

.tituloTrabajos {
    margin: 30px 70px;
    font-weight: bold;
}

.contenedorFlex {
    height: auto;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 50px;
}

.video {
    width: 45%;

}

iframe {
    border-radius: 20px;
}